name: Audit
on:
  push:
    branches:
    - master
jobs:
  audit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.4
      - uses: actions-rs/audit-check@v1
        with:
          token: ${{ secrets.GH_TOKEN }}